In [1]:
import pandas as pd
import re
import numpy as np
import os

In [2]:
cwd = os.path.abspath(os.getcwd())
os.chdir(cwd)  # changes cwd to script's directory
data_dirname = "data"
data_dir = os.path.join(cwd, data_dirname)
# create data directory if it doesn't exist
if not os.path.exists(data_dir):
    os.makedirs(data_dir)

In [4]:
input_filename ="Warao_bible_verses.csv"
path = os.path.join(data_dir, input_filename)
df = pd.read_csv(path)

print(f"Number of examples (i.e. of verses): {df.shape[0]}")
df_lines = df.iloc[:, 0].tolist()
lines_separated = []
for ln in df_lines:
  # inner_sentences = re.split(r'[?!.]+', ln)
  inner_sentences = ln.split(".")
  for sent in inner_sentences:
    if sent != "":
      
      lines_separated.append(sent.strip())

Number of examples (i.e. of verses): 7983

In [4]:
print(lines_separated[:5])
df = pd.DataFrame(lines_separated, columns=["warao_sentence"])

print(len(df))
display(df.head())

['Ine Pablo', 'Dio oriaobojona eku mayejebuae Jesukirito aina-taba tane mabakitane', 'Sóstenes, nome abatu jakutai, tai maisiko', 'Takore rijana Dio aikeresia Corinto tata jakutaisi saba jabatayaine', 'Yatu Dio saba emo abánae tiakutaisi saba jabatayaine']
22404

                                      warao_sentence
0                                          Ine Pablo
1  Dio oriaobojona eku mayejebuae Jesukirito aina...
2          Sóstenes, nome abatu jakutai, tai maisiko
3  Takore rijana Dio aikeresia Corinto tata jakut...
4  Yatu Dio saba emo abánae tiakutaisi saba jabat...

In [7]:
output_filename = "clean_warao_bible_verses_separated_OL.csv"
df.to_csv(os.path.join(data_dir, output_filename), index=False)